$backgroundColor: #1f1f1f;
$offsetBackgroundColor: #292929;

$labelFontColor: #efefef;
$contentFontColor: #f7f7f7;
$linkFontColor: #bfbfbf;

$linkedinColor: #0976b4;
$githubColor: #333;
$codepenColor: #000;
