.widget_search {
  margin: 0 auto;
  overflow: hidden;
  @extend %max-width-below;
}

.search-form {
  display: flex;
  padding: 0 0 1.5rem;

  label {
    flex: 1 1 auto;
  }
}

input.search-field, input.search-submit {
  background: $backgroundColor;
  border: none;
  border-radius: 0;
  height: 2.5rem;
  color: $contentFontColor;
}

input.search-field {
  width: 100%;
  padding: 0.3125rem 0.5rem;
  font-size: $mobileFontSize;
  font-family: $fontFamily;
  outline: none;

  &:focus {
    color: $contentFontColor;
  }
}

input.search-submit {
  flex: 0 0 auto;
  border-left: 1px solid $offsetBackgroundColor;
  font-size: $dateFontSize;

  &:active, &:focus, &:hover {
    border-left: 1px solid $offsetBackgroundColor;
  }
}

@include breakpoint($tabletBP) {
  .widget_search {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
  }
  
  .search-form {
    padding: 1rem 0 0;
    @include max-width-above($tabletBP);
  }

  input.search-field, input.search-submit {
    background: $offsetBackgroundColor;
  }

  input.search-submit {
    border-left: 1px solid $backgroundColor;

    &:active, &:focus, &:hover {
      border-left: 1px solid $backgroundColor;
    }
  }
}
