@font-face {
  font-family: Source Sans Pro Light;
  src: url(../fonts/SourceSansPro-Light.woff2) format("woff2"), url(../fonts/SourceSansPro-Light.woff) format("woff"), url(../fonts/SourceSansPro-Light.ttf) format("truetype"); }

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/fontawesome-webfont.woff2) format("woff2"), url(../fonts/fontawesome-webfont.woff) format("woff"), url(../fonts/fontawesome-webfont.ttf) format("truetype"); }

.site-footer, .site-header, .widget_search, .site-content {
  width: 100%;
  max-width: 100%; }

.site-footer, .site-header, .site-content {
  position: relative;
  z-index: 10; }

img, media {
  max-width: 100%; }

html, body, .site {
  height: 100%; }

html {
  font-size: 16px; }

body {
  font-size: 1rem;
  font-family: Source Sans Pro Light, Helvetica, Arial, sans-serif;
  color: #f7f7f7; }

a {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer; }
  a, a:visited {
    color: #efefef; }
  a:hover, a:active, a:focus {
    text-decoration: none;
    color: #bfbfbf; }
  a.active {
    color: #bfbfbf; }

@media (min-width: 37.5rem) {
  body {
    font-size: 1.125rem; } }

.site-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-top: 2rem; }

.site-info {
  text-align: center;
  padding: 0.3125rem 0 0.9375rem; }

.social-icons {
  padding: 0.625rem 0; }

.social-icon {
  padding: 0 0.625rem;
  display: inline-block; }
  .social-icon a {
    color: #efefef;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    position: relative; }
    .social-icon a:before {
      opacity: 0;
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      background: #efefef;
      background: radial-gradient(closest-side, #efefef 60%, rgba(255, 255, 255, 0.25) 85%, rgba(255, 255, 255, 0)); }
    .social-icon a:hover:before {
      opacity: 1; }
    .social-icon a:hover.linkedin {
      color: #0976b4; }
    .social-icon a:hover.github {
      color: #333; }
    .social-icon a:hover.codepen {
      color: #000; }

.copyright {
  padding: 0.625rem; }
  .copyright p {
    margin: 0; }

@media (min-width: 37.5rem) {
  .site-footer {
    margin: 0 auto;
    width: 100%;
    max-width: 52.5rem; }
  .site-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0; }
  .social-icons, .copyright {
    display: inline-block; }
  .copyright {
    padding: 1.0625rem 0.9375rem 1.0625rem 0.625rem; } }

.site-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: center;
  padding-bottom: 2rem; }

.site-branding {
  padding: 1rem; }

.custom-logo-link {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0.5rem 0 1rem; }

@media (min-width: 37.5rem) {
  .site-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 auto;
    width: 100%;
    max-width: 52.5rem; } }

.main-navigation, .menu-toggle {
  padding: 0 1rem; }

.main-navigation {
  font-size: 1.5rem;
  clear: none;
  float: none;
  overflow: hidden;
  position: absolute;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }
  .main-navigation .menu-close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    line-height: 1;
    padding: 0 0.25rem;
    cursor: pointer; }
  .main-navigation .menu {
    padding: 1.5rem 0;
    display: block; }
  .main-navigation li {
    float: none;
    display: block;
    padding: 0.5rem 0; }
  .main-navigation a {
    display: inline-block; }

.menu-toggle {
  display: inline-block;
  margin: 0 auto;
  cursor: pointer; }

@media (min-width: 37.5rem) {
  .menu-toggle {
    display: none; }
  .main-navigation {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    position: static; }
    .main-navigation .menu-close-btn {
      display: none; }
    .main-navigation .menu {
      padding: 0; }
    .main-navigation li {
      display: inline-block;
      padding: 0.5rem 3rem; } }

.widget_search {
  margin: 0 auto;
  overflow: hidden; }

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 1.5rem; }
  .search-form label {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }

input.search-field, input.search-submit {
  background: #1f1f1f;
  border: none;
  border-radius: 0;
  height: 2.5rem;
  color: #f7f7f7; }

input.search-field {
  width: 100%;
  padding: 0.3125rem 0.5rem;
  font-size: 1rem;
  font-family: Source Sans Pro Light, Helvetica, Arial, sans-serif;
  outline: none; }
  input.search-field:focus {
    color: #f7f7f7; }

input.search-submit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-left: 1px solid #292929;
  font-size: 0.875rem; }
  input.search-submit:active, input.search-submit:focus, input.search-submit:hover {
    border-left: 1px solid #292929; }

@media (min-width: 37.5rem) {
  .widget_search {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%); }
  .search-form {
    padding: 1rem 0 0;
    margin: 0 auto;
    width: 100%;
    max-width: 37.5rem; }
  input.search-field, input.search-submit {
    background: #292929; }
  input.search-submit {
    border-left: 1px solid #1f1f1f; }
    input.search-submit:active, input.search-submit:focus, input.search-submit:hover {
      border-left: 1px solid #1f1f1f; } }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-social-icon {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 42px;
  width: 42px;
  padding: 0; }

.btn-social-icon > :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100% !important;
  line-height: 42px;
  font-size: 2em;
  text-align: center;
  border: none; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-codepen:before {
  content: "\f1cb"; }

.fa-github:before {
  content: "\f09b"; }

.fa-linkedin-square:before {
  content: "\f08c"; }

body {
  background: #1f1f1f; }

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.site-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem; }

.page-title {
  font-size: 1.375rem; }

pre {
  background: #292929; }

.hentry {
  margin: 0;
  padding: 2rem 0; }

.posted-on {
  font-size: 0.875rem; }

.entry-title {
  font-weight: bold;
  margin: 0; }

h2.entry-title {
  font-size: 1.75rem; }

h1.entry-title {
  font-size: 2.5rem; }

.entry-excerpt {
  font-size: 0.875rem; }

.entry-intro {
  text-align: center;
  font-style: italic; }

.entry-divider {
  width: 35%;
  height: 0.1875rem;
  background: #efefef;
  margin: 3rem auto; }

.entry-content {
  margin: 0; }

.site-main-single .hentry {
  padding: 2rem 0 0; }

.site-main-single .entry-header {
  text-align: center; }

.site-main-single .entry-content {
  margin: 2rem 0 1rem; }

.site-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0; }

@media (min-width: 37.5rem) {
  .page-title {
    font-size: 1.5rem; }
  h2.entry-title {
    font-size: 2rem; }
  h1.entry-title {
    font-size: 3rem; }
  .entry-excerpt {
    font-size: 1rem; }
  .entry-divider {
    margin: 4rem auto; }
  .site-main-single .entry-content {
    margin: 3rem 0 1rem; } }

@media (min-width: 52.5rem) {
  .site-content {
    margin: 0 auto;
    width: 100%;
    max-width: 52.5rem; } }
